@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 20px;
}

/* Game Header and Board */

.game {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

.game-header {
  margin: auto;
  text-align: center;
  color: #d4bcf5;
  text-shadow: 2px 3px 0 #6f6f6f;
  font-size: 25px;
  top: 5%;
  bottom: 0;
  right: 0;
  left: 0;
}

.game-board {
  width: 448px;
  height: 447px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* end Game Header and Board */

/* Square */

.square {
  background-color: #d4bcf5;
  border: 2px solid #969696;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  border-radius: 25px;
}

.square{
  height: 150px;
  width: 150px;
  padding: 0px 1px 0px 0px; /* 1px right needed to offset text-shadow */
}

.squareDisplay, .fakeSquareDisplay{
  font-size: 75px;
  font-weight: bold;
  line-height: 150px;
  text-shadow: 5px 0px 0 #6f6f6f;
}

.winningSquare{
  background: gainsboro;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square:focus {
  outline: none;
}

/* Square Jiggle*/

.square:active {
  animation: jiggle .5s infinite ease-in;
  animation-iteration-count: infinite;
}

.square:hover {
  background-color: #e6d9f9;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@keyframes jiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* end Square Jiggle */

/* Fake Square: opaque square on hover */

.fakeSquareDisplay {
  display: none;
}

.square:hover .fakeSquareDisplay {
  display: block;
  text-shadow: 5px 0px rgb(111,111,111, .3);
}

#fake-o-square {
  color: rgb(255,129,144,.3);
}

#fake-x-square {
  color: rgb(213,255,148, .3);
}

/* end Display Square */

#x-square {
  color: #d5ff94;
}

#o-square{
  color: #ff8190;
}

/* end Square */

/* Move History (info)  */

.info {
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  opacity: .7;
}

.moveButton{
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.moveButton:focus, .moveButton:active {
  outline: none;
  border: none;
}

.statusHeader {
  font-size: 20px;
  background-color: #dedede;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}

.small-square {
  text-shadow: 2px 0px 0 #6f6f6f;
  font-weight: bold;
  font-size: 35px;
}

.history {
  list-style-type: none;
  padding: 0;
}

.current {
  font-weight: bold;
}

#x-move {
  background-color: #d5ff94;
}

#o-move{
  background-color: #ff8190;
}

/* end history */

.signature {
  text-align: right;
  padding: 20px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
}

.tutorial-link {
  padding: 5px;
}
